In [30]:
import os
import pandas as pd
import numpy as np
import pickle
from pandas import HDFStore

import yaml

cfg = None
    #' load config.yaml file in the root dir 
with open("../config.yaml", 'r') as ymlfile:
    cfg = yaml.load(ymlfile, Loader=yaml.FullLoader)
    
# Use 3 decimal places in output display
pd.set_option("display.precision", 3)

# Don't wrap repr(DataFrame) across additional lines
pd.set_option("display.expand_frame_repr", False)

# Set max rows displayed in output to 25
pd.set_option("display.max_rows", 25)

pd.set_option('display.float_format', lambda x: '%.2f' % x)


#Function to get data frame summary
def get_data_frame_summmary(data_frame, sort_by='percent_missing', ascending=False):
    unique_values = data_frame.apply(lambda x: [x.unique()])
    unique_counts = data_frame.apply(lambda x: len(x.unique()))
    percent_missing = data_frame.apply(lambda x: sum(pd.isnull(x))/len(x)*100)
    data_type = data_frame.dtypes

    return pd.DataFrame(dict(unique_values = unique_values, 
                                unique_counts = unique_counts,
                                data_type = data_type,
                                percent_missing = percent_missing,
                                )).reset_index().sort_values(by=sort_by, ascending=ascending)

# Function to drop outliers of numeric columns
def drop_outliers(data_frame, exclude=[]):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    num_cols = data_frame.select_dtypes(include=numerics).columns

    num_cols = num_cols.difference(exclude)
    
    for colname in num_cols:
        upper_lim = data_frame[colname].quantile(.95)
        lower_lim = data_frame[colname].quantile(.05)
        
        print(f'Dropping outliers for {colname} upper limit = {upper_lim} and lower limit = {lower_lim}')
        data_frame = data_frame[(data_frame[colname] < upper_lim) & (data_frame[colname] > lower_lim)]
      
    return data_frame


# Function to drop outliers of numeric columns
def scale_numeric_features(data_frame, exclude=[], 
                           method='standardize',
                           inplace=False):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    num_cols = data_frame.select_dtypes(include=numerics).columns

    num_cols = num_cols.difference(exclude)
    print(f'********************* - Scaling following {len(num_cols)} features - **********************')
    for colname in num_cols:
        new_colname = colname if inplace else colname+'_'+method+'d'
        print(f' {colname} {method}d to {new_colname}')
        
        if method == 'standardize':              
              data_frame[new_colname] = (data_frame[colname] - data_frame[colname].mean()) / data_frame[colname].std()
        elif method == 'normalize':
              data_frame[new_colname] = (data_frame[colname] - data_frame[colname].min()) / (data_frame[colname].max() - data_frame[colname].min())
        else:
              print(f'Unknown method {method} specified, please select one of "standardize" or "normalize"')

      
    return data_frame


def remove_items(iteamlist, removelist):
    return [ele for ele in iteamlist if ele not in removelist]

def diff(first, second):
    second = set(second)
    return [item for item in first if item not in second]
    
def months_between_columns(date_series1, date_series2):
    return round((date_series1-date_series2) / np.timedelta64(1, 'M'))
    
path_to_hdf_datastore = cfg['path_to_hdf_datastore']
path_to_clean_hdf_datastore = cfg['path_to_clean_hdf_datastore']

In [31]:
# Read Data
nps = pd.read_hdf(path_to_hdf_datastore, cfg['nps_file'])

df = nps
del nps

df.head()

        ECR_ID  RESPONSEID  WAVE DATE_OF_INTERVIEW            ORG_NAME        COUNTRY          ORGANIZATION PRODUCT_NAME_ROLLUP PRODUCT_DETAIL              JOB_ROLE  ... COMPETITOR_NAME                DEPARTMENT            INFLUENCE            CSAT                                       CSAT_COMMENT NPS_SCORE                                        NPS_COMMENT             AT_RISK  VALUE_FOR_MONEY_SCORE SHARE_WITH_CUST_DETAILS
0      ECR-635     1362709 42.00        2015-01-29  Cornell University  United States            University                 nan            nan                 Other  ...             nan                     Sales       No involvement       Satisfied                                                nan      0.00  prefer not to answer because I donot usually m...    At Risk - Normal                    nan                      NO
1        ECR-0     1378062 42.00        2015-02-26                 nan        Germany            University                 nan            nan             Librarian  ...             nan  Online Customer Services                  nan  Very satisfied                                         No comment      0.00                                     pricing policy    At Risk - Normal                    nan                      NO
2        ECR-0     1380278 42.00        2015-02-22                 nan         France               College                 nan            nan               Student  ...             nan  Online Customer Services                  nan    Dissatisfied  "Je pense que vous devez changer complÃ©tement...      0.00  My previous message explains it clearly, the p...  At Risk - Red Flag                    nan                     YES
3  ECR-1080234     1381630 42.00        2015-03-02     Miltenyi Biotec  United States  Commercial/Corporate                 nan            nan                 Other  ...             nan                     Sales  Make recommendation         Neutral                                                nan      0.00  Have not been contacted as part of a follow up...    At Risk - Normal         Don't know/ NA                     YES
4        ECR-0     1394468 42.00        2015-03-14                 nan         France            University                 nan            nan  Researcher/scientist  ...             nan  Online Customer Services                  nan      Don't know                                         No comment      0.00                                          no answer    At Risk - Normal                    nan                     YES

[5 rows x 23 columns]

# Replace strings indicating missing data with null

In [32]:
#replace strings indicating missing data with null
df.replace(['nan', 'N.A', 'N.A.', 'NaN', 'Nan', '00-00-00', '0-00-00', 'Unknown', 'No comment', 'No', 'no', 'no comment', "Don't know/ NA", "Don't know", 98.0], np.nan, inplace=True)
df.replace('.*\?.*', np.nan, regex=True, inplace=True)
df

            ECR_ID  RESPONSEID  WAVE DATE_OF_INTERVIEW                                           ORG_NAME        COUNTRY          ORGANIZATION PRODUCT_NAME_ROLLUP PRODUCT_DETAIL              JOB_ROLE  ... COMPETITOR_NAME                DEPARTMENT             INFLUENCE            CSAT                                       CSAT_COMMENT NPS_SCORE                                        NPS_COMMENT             AT_RISK  VALUE_FOR_MONEY_SCORE SHARE_WITH_CUST_DETAILS
0          ECR-635     1362709 42.00        2015-01-29                                 Cornell University  United States            University                 NaN            NaN                 Other  ...             NaN                     Sales        No involvement       Satisfied                                                NaN      0.00                                                NaN    At Risk - Normal                    NaN                      NO
1            ECR-0     1378062 42.00        2015-02-26                                                NaN        Germany            University                 NaN            NaN             Librarian  ...             NaN  Online Customer Services                   NaN  Very satisfied                                                NaN      0.00                                     pricing policy    At Risk - Normal                    NaN                      NO
2            ECR-0     1380278 42.00        2015-02-22                                                NaN         France               College                 NaN            NaN               Student  ...             NaN  Online Customer Services                   NaN    Dissatisfied                                                NaN      0.00  My previous message explains it clearly, the p...  At Risk - Red Flag                    NaN                     YES
3      ECR-1080234     1381630 42.00        2015-03-02                                    Miltenyi Biotec  United States  Commercial/Corporate                 NaN            NaN                 Other  ...             NaN                     Sales   Make recommendation         Neutral                                                NaN      0.00  Have not been contacted as part of a follow up...    At Risk - Normal                    NaN                     YES
4            ECR-0     1394468 42.00        2015-03-14                                                NaN         France            University                 NaN            NaN  Researcher/scientist  ...             NaN  Online Customer Services                   NaN             NaN                                                NaN      0.00                                          no answer    At Risk - Normal                    NaN                     YES
...            ...         ...   ...               ...                                                ...            ...                   ...                 ...            ...                   ...  ...             ...                       ...                   ...             ...                                                ...       ...                                                ...                 ...                    ...                     ...
50526   ECR-215054     1355803 45.00        2015-12-02                         Centre Hospitalier Chubert            NaN                   NaN                 NaN            NaN                   NaN  ...             NaN                e-Delivery                   NaN             NaN                                                NaN       nan                                                NaN    At Risk - Normal                    NaN                     YES
50527     ECR-2228     1465409   nan        2015-12-02                           Universitat De Barcelona            NaN                   NaN                 NaN            NaN                   NaN  ...             NaN                     Sales                   NaN             NaN                                                NaN       nan                                                NaN    At Risk - Normal                    NaN                     YES
50528   ECR-955455     1466318 45.00        2015-12-02  Wyzsza Szkola Nauk Spolecznych i Technicznych ...            NaN                   NaN                 NaN            NaN                   NaN  ...             NaN                e-Delivery                   NaN             NaN                                                NaN       nan                                                NaN    At Risk - Normal                    NaN                     YES
50529     ECR-2778     1469519   nan        2015-12-02                                 Universitet I Oslo            NaN                   NaN                 NaN            NaN                   NaN  ...             NaN                     Sales                   NaN             NaN                                                NaN       nan                                                NaN    At Risk - Normal                    NaN                     YES
50530   ECR-520865     2074918 52.00        2017-07-03                              Bahcesehir University            NaN                   NaN        Clinical Key   Clinical Key             Librarian  ...             NaN            Account Review  Make final decisions             NaN  Contracts should be prepared by taking the opi...       nan  Because we are satisfied with the products but...    At Risk - Normal                    NaN                     YES

[50531 rows x 23 columns]

In [33]:
for i in range(0,df.shape[1]):
    print(df.iloc[:,i].value_counts())

ECR-0          35511
ECR-26877         86
ECR-1628          78
ECR-335922        66
ECR-1040481       44
               ...
ECR-1052236        1
ECR-703666         1
ECR-1047070        1
ECR-977593         1
ECR-1064576        1
Name: ECR_ID, Length: 8464, dtype: int64
2099199    1
1697193    1
1751851    1
2209187    1
2207136    1
          ..
2189126    1
2193220    1
2180930    1
2187073    1
2230273    1
Name: RESPONSEID, Length: 50531, dtype: int64
58.00    5110
60.00    4809
59.00    4312
57.00    4226
54.00    3113
56.00    2649
53.00    2571
51.00    2278
46.00    2104
50.00    2033
52.00    1985
47.00    1958
49.00    1941
55.00    1851
48.00    1777
61.00    1432
45.00    1271
43.00    1263
42.00    1111
44.00     856
Name: WAVE, dtype: int64
2016-03-03    277
2018-09-27    233
2019-04-04    200
2019-07-25    186
2018-11-01    164
             ...
2018-04-01      1
2017-10-15      1
2018-07-17      1
2015-01-20      1
2017-12-30      1
Name: DATE_OF_INTERVIEW, Length: 1704, dtype: int64
Universidad Nacional del Nordeste                      941
Deen Dayal Upadhyay Hospital                           725
Ospedale Addolorata                                    425
AVZ Sp                                                 247
Quinte Health Care Prince Edward County Memorial       168
                                                      ...
Uganda Martyrs University                                1
University of Santander                                  1
Centre de Sante et de Services Sociaux de l'Energie      1
Passau Hospital                                          1
Ludwig Boltzmann Research Network                        1
Name: ORG_NAME, Length: 12261, dtype: int64
United States     17337
France             3516
United Kingdom     2560
Japan              1994
Canada             1893
                  ...
Cayman Islands        1
Djibouti              1
Maldives              1
Guam                  1
Gibraltar             1
Name: COUNTRY, Length: 204, dtype: int64
University                                  21446
Hospital/Medical School                      7489
College                                      5662
Commercial/Corporate                         5308
Research Institute                           3121
                                            ...
Other - RESIDENCY IN VETERINARY BEHAVIOR        1
Other - INDUSTRY ASSOCIATION                    1
Other - CMO                                     1
Other - PREFER NOT TO SAY                       1
Other - ÃLEVÃ AS                              1
Name: ORGANIZATION, Length: 1031, dtype: int64
Mendeley                                        5787
ScienceDirect                                   5409
Evolve Portal                                   4683
Scopus                                          2629
Multiple Products                               1845
                                                ...
PoC                                                1
Autre problÃ¨me / sujet                            1
Analytical services                                1
Jornais/periÃ³dicos                                1
Elsevier Clinical Skills/Pratique Infirmiere       1
Name: PRODUCT_NAME_ROLLUP, Length: 72, dtype: int64
Mendeley                                                                       5787
ScienceDirect                                                                  5409
Evolve Portal                                                                  4683
Scopus                                                                         2629
HESI Assessment                                                                1173
                                                                               ...
ScienceDirect,Other product/s (please specify),Other issue / topic,Journals       1
Reaxys,ScienceDirect,Scopus,Backfiles,Books                                       1
Embase,Engineering Village,ScienceDirect,Scopus                                   1
Discussione generica,Collezioni,Scopus                                            1
Scopus,Other product/s (please specify),Collections,Journals                      1
Name: PRODUCT_DETAIL, Length: 708, dtype: int64
Researcher/scientist                12107
Student                             10111
Librarian                            9360
Practitioner/Clinician               5769
Other                                2722
                                    ...
Other - informatica                     1
Other - secrÃ©taire de direction        1
Other - database curator                1
Other - retired scientist               1
Other - wydawca/redaktor                1
Name: JOB_ROLE, Length: 2929, dtype: int64
Researcher/scientist                12107
Student                             10111
Librarian                            9544
Other                                5954
Practitioner/Clinician               5840
Research Administrator               2227
Faculty / Instructor                 2101
Agent                                 423
Administrator                         364
Society Representative                360
General Manager                       241
Director / Dean                       232
Nurse/Nursing Practitioner            223
Academic Coordinator                  172
Bookseller                            150
President / VP / Executive            107
Pharmacist                            104
Consultant                             86
IT                                     76
Education Administrator                42
Hospital Administrator/Executive       38
Director of Education                  21
HR                                      8
Name: JOB_ROLE_GROUPED, dtype: int64
Satisfied                 8645
Very satisfied            6946
Extremely satisfied       5176
Neutral                   4510
Dissatisfied               792
Extremely dissatisfied     238
Very dissatisfied          183
Name: COMPETITOR_SAT, dtype: int64
10.00    2606
8.00     2112
7.00     1657
5.00     1473
9.00     1435
6.00      890
0.00      604
4.00      250
3.00      174
2.00      111
1.00       78
Name: COMP_RECOMMEND, dtype: int64
Springer                                                                      1175
Thomson Reuters                                                                679
Wolters Kluwer                                                                 595
System.Reflection.Missing                                                      373
Oracle                                                                         183
                                                                              ...
I am going to access journal through the Institute of Engineers Australia.       1
no thanks                                                                        1
I have not used a different electronic information solution.                     1
No he tenido otras experiencias con otras empresas                               1
None - As I haven't had to contact them.                                         1
Name: COMPETITOR_NAME, Length: 3815, dtype: int64
Online Customer Services               31807
Sales                                   6851
Health Solutions Customer Service       3489
e-Delivery                              3062
Invoicing                               1653
Customer Engagement                     1483
Contracts                               1040
Account Support                          544
Account Review                           388
Clinical Solutions Customer Service      115
Education Customer Service                99
Name: DEPARTMENT, dtype: int64
Make recommendation     12828
No involvement          10947
Provide advice           7833
Make final decisions     6312
Name: INFLUENCE, dtype: int64
Extremely satisfied       19560
Very satisfied            13474
Satisfied                  9205
Neutral                    3031
Dissatisfied               2094
Extremely dissatisfied     1333
Very dissatisfied           648
Name: CSAT, dtype: int64
Great customer service                                                                                                                                                                                                                 12
Excellent service                                                                                                                                                                                                                      11
Professionalism                                                                                                                                                                                                                        11
Very helpful                                                                                                                                                                                                                           11
Quick response                                                                                                                                                                                                                          9
                                                                                                                                                                                                                                       ..
"AprÃ¨s discussion, la solution proposÃ©e a Ã©tÃ© acceptÃ©e mÃªme si peut Ãªtre pas facile Ã  rÃ©aliser pour vous. remboursement d'un paiement sur internet par une dÃ©duction du montant au rÃ¨glement d'abonnement Ã  une revue "     1
He listened patiently to my concerns and explained what the problem was. The problem was resolved expeditiously.                                                                                                                        1
Learned not to call Macy's for this kind of customer return help.                                                                                                                                                                       1
The customer service lady was fabulous!! She was so patient and helpful! I could not have achieved my goal without her!!!                                                                                                               1
"Yes I have tried to find a doctor certification, it can back, Not Found. Pull  Number the file and use the past lookup. Located. It should be more user friendly. Like Google. Look up with  NPI Extremely Statisfied. "               1
Name: CSAT_COMMENT, Length: 15779, dtype: int64
10.00    14212
8.00      8574
9.00      6890
7.00      5920
5.00      4497
6.00      2824
0.00      1236
4.00       894
3.00       850
2.00       616
1.00       441
Name: NPS_SCORE, dtype: int64
Quality                                                                                                                                                                    63
Easy to use                                                                                                                                                                36
Cost                                                                                                                                                                       33
Professionalism                                                                                                                                                            29
Price                                                                                                                                                                      28
                                                                                                                                                                           ..
the only tool that I know about; Scopus is a very powerful tool, in fact the webinars made it very clear to me, I got to know many features that I did not know before.     1
There are occasional access problems.                                                                                                                                       1
You can introduce the product if necessary. There is no particular recommendation.                                                                                          1
I want to quickly find the answer to the question. It's hard to understand how to put it. It would have been easier to access information.                                  1
I've only had good experiences with Elsevier                                                                                                                                1
Name: NPS_COMMENT, Length: 21991, dtype: int64
At Risk - Normal      47291
At Risk - Red Flag     1220
At Risk                 895
At Risk - Advocate      754
Name: AT_RISK, dtype: int64
Agree                         5562
Neither agree nor disagree    3872
Strongly agree                2802
Disagree                      1147
Strongly disagree              523
Name: VALUE_FOR_MONEY_SCORE, dtype: int64
YES    38947
NO     11584
Name: SHARE_WITH_CUST_DETAILS, dtype: int64

### Summary of the dataframe

In [34]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(get_data_frame_summmary(df))

                      index                                      unique_values  unique_counts data_type  percent_missing
13          COMPETITOR_NAME  [[nan, I have not dealt with any of these orga...           3816    object            82.29
12           COMP_RECOMMEND  [[nan, 4.0, 0.0, 5.0, 10.0, 9.0, 2.0, 7.0, 6.0...             12   float64            77.46
21    VALUE_FOR_MONEY_SCORE  [[nan, Neither agree nor disagree, Strongly ag...              6    object            72.48
17             CSAT_COMMENT  [[nan, Provide better customer service trainin...          15780    object            68.22
19              NPS_COMMENT  [[nan, pricing policy, My previous message exp...          21992    object            53.69
4                  ORG_NAME  [[Cornell University, nan, Miltenyi Biotec, Pr...          12262    object            52.15
11           COMPETITOR_SAT  [[nan, Extremely dissatisfied, Very dissatisfi...              8    object            47.58
8            PRODUCT_DETAIL  [[nan, Mendeley, ScienceDirect, Scopus, Clinic...            709    object            45.04
7       PRODUCT_NAME_ROLLUP  [[nan, Mendeley, ScienceDirect, Scopus, Clinic...             73    object            44.92
15                INFLUENCE  [[No involvement, nan, Make recommendation, Pr...              5    object            24.96
18                NPS_SCORE  [[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0,...             12   float64             7.08
2                      WAVE  [[42.0, 43.0, 44.0, 45.0, nan, 46.0, 47.0, 48....             21   float64             3.72
16                     CSAT  [[Satisfied, Very satisfied, Dissatisfied, Neu...              8    object             2.35
9                  JOB_ROLE  [[Other, Librarian, Student, Researcher/scient...           2930    object             1.18
6              ORGANIZATION  [[University, College, Commercial/Corporate, R...           1032    object             0.79
5                   COUNTRY  [[United States, Germany, France, Turkey, Cana...            205    object             0.77
20                  AT_RISK  [[At Risk - Normal, At Risk - Red Flag, At Ris...              5    object             0.73
0                    ECR_ID  [[ECR-635, ECR-0, ECR-1080234, ECR-1086681, EC...           8464    object             0.00
14               DEPARTMENT  [[Sales, Online Customer Services, e-Delivery,...             11    object             0.00
1                RESPONSEID  [[1362709, 1378062, 1380278, 1381630, 1394468,...          50531     int64             0.00
10         JOB_ROLE_GROUPED  [[Other, Librarian, Student, Researcher/scient...             23    object             0.00
3         DATE_OF_INTERVIEW  [[2015-01-29, 2015-02-26, 2015-02-22, 2015-03-...           1704    object             0.00
22  SHARE_WITH_CUST_DETAILS                                        [[NO, YES]]              2    object             0.00

# Identify Missing Data

Missing values affect the performance of the machine learning models and its useful to identify and drop or impute missing values before modelling.

We will quantify the missing data and drop any columns lower than the given threshold. we have set threshold of 78% so any columns and rows with missing data over 78% are dropped.

In this case, manually ignore CSAT_COMMENT, NPS_COMMENT, VALUE_FOR_MONEY_SCORE and PRODUCT_DETAIL

In [35]:
#set threshold
threshold = 0.78


#Dropping columns with missing value rate higher than threshold
temp = df[df.columns[df.isnull().mean() < threshold]]

print('-------------------- Dropping Columns with missing data --------------------')
print(f'Following {len(df.columns.difference(temp.columns))} columns have missing data over the threshold and will be removed')
print(df.columns.difference(temp.columns))

df = temp

print('-------------------- Dropping rows with missing data --------------------')
print(f' There are {sum(df.isnull().mean(axis=1) > threshold)} rows with missing data over the threshold')

#Dropping rows with missing value rate higher than threshold
df = df.loc[df.isnull().mean(axis=1) < threshold]

# remove temp object from memory
del temp

#manually remove borderline case
df = df.drop(columns=['CSAT_COMMENT', 'NPS_COMMENT', 'PRODUCT_DETAIL', 'VALUE_FOR_MONEY_SCORE'])

-------------------- Dropping Columns with missing data --------------------
Following 1 columns have missing data over the threshold and will be removed
Index(['COMPETITOR_NAME'], dtype='object')
-------------------- Dropping rows with missing data --------------------
 There are 0 rows with missing data over the threshold

In [36]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(get_data_frame_summmary(df))

                      index                                      unique_values  unique_counts data_type  percent_missing
11           COMP_RECOMMEND  [[nan, 4.0, 0.0, 5.0, 10.0, 9.0, 2.0, 7.0, 6.0...             12   float64            77.46
4                  ORG_NAME  [[Cornell University, nan, Miltenyi Biotec, Pr...          12262    object            52.15
10           COMPETITOR_SAT  [[nan, Extremely dissatisfied, Very dissatisfi...              8    object            47.58
7       PRODUCT_NAME_ROLLUP  [[nan, Mendeley, ScienceDirect, Scopus, Clinic...             73    object            44.92
13                INFLUENCE  [[No involvement, nan, Make recommendation, Pr...              5    object            24.96
15                NPS_SCORE  [[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0,...             12   float64             7.08
2                      WAVE  [[42.0, 43.0, 44.0, 45.0, nan, 46.0, 47.0, 48....             21   float64             3.72
14                     CSAT  [[Satisfied, Very satisfied, Dissatisfied, Neu...              8    object             2.35
8                  JOB_ROLE  [[Other, Librarian, Student, Researcher/scient...           2930    object             1.18
6              ORGANIZATION  [[University, College, Commercial/Corporate, R...           1032    object             0.79
5                   COUNTRY  [[United States, Germany, France, Turkey, Cana...            205    object             0.77
16                  AT_RISK  [[At Risk - Normal, At Risk - Red Flag, At Ris...              5    object             0.73
0                    ECR_ID  [[ECR-635, ECR-0, ECR-1080234, ECR-1086681, EC...           8464    object             0.00
9          JOB_ROLE_GROUPED  [[Other, Librarian, Student, Researcher/scient...             23    object             0.00
12               DEPARTMENT  [[Sales, Online Customer Services, e-Delivery,...             11    object             0.00
1                RESPONSEID  [[1362709, 1378062, 1380278, 1381630, 1394468,...          50531     int64             0.00
3         DATE_OF_INTERVIEW  [[2015-01-29, 2015-02-26, 2015-02-22, 2015-03-...           1704    object             0.00
17  SHARE_WITH_CUST_DETAILS                                        [[NO, YES]]              2    object             0.00

### Data Imputation

We can impute missing data with meaningful data so that model development has good quality of data

We can impute categorical variables with the most frequestly occuring value and impute numerical variables with 0 or mean or median depending on the variable context.

COMP_RECOMMEND - Impute with 7 (Passive)

ORG_NAME - Impute with most frequent

COMPETITOR_SAT - Impute with most freuqent

PRODUCT_NAME_ROLLUP - Impute with most frequent

INFLUENCE - Impute with most frequent

NPS_SCORE - Impute with median

WAVE - Impute with median

CSAT - Impute with most frequent

JOB_ROLE - Impute with most frequent

In [37]:
#Filling all missing values with 0
# data = data.fillna(0)

#Filling missing values with the most frequest values
df['ORG_NAME'].fillna(
    df['ORG_NAME'].value_counts().idxmax(), inplace=True)

df['COMPETITOR_SAT'].fillna(
    df['COMPETITOR_SAT'].value_counts().idxmax(), inplace=True)

df['PRODUCT_NAME_ROLLUP'].fillna(
    df['PRODUCT_NAME_ROLLUP'].value_counts().idxmax(), inplace=True)

df['INFLUENCE'].fillna(
    df['INFLUENCE'].value_counts().idxmax(), inplace=True)

df['CSAT'].fillna(
    df['CSAT'].value_counts().idxmax(), inplace=True)

df['JOB_ROLE'].fillna(
    df['JOB_ROLE'].value_counts().idxmax(), inplace=True)

df['COMP_RECOMMEND'].fillna(
   7, inplace=True)

df['NPS_SCORE'].fillna(
    df['NPS_SCORE'].median(), inplace=True)

df['WAVE'].fillna(
    df['WAVE'].median(), inplace=True)

# Handling Outliers

Extreme value can skew the data distribution and thus affect the model development we identify outliers in numeric variables and handle them by removing or capping.

### Outlier Detection with Percentiles

In [38]:
#Dropping the outlier rows with Percentiles

df = drop_outliers(df, exclude = ['NPS_SCORE', 'COMP_RECOMMEND', 'RESPONSEID', 'WAVE'])

# Binning

The main motivation of binning is to make the model more robust and prevent overfitting, however, it has a cost to the performance. Every time you bin something, you sacrifice information and make your data more regularized

The trade-off between performance and overfitting is the key point of the binning process


For Categorical variables the labels with low frequencies probably affect the robustness of statistical models negatively. Thus, assigning a general category to these less frequent values helps to keep the robustness of the model.

it is a good option to unite the labels with a count less than 100 to a new category like “Other”.

In [39]:
binning_summary = get_data_frame_summmary(df, 
                                    sort_by='unique_counts', 
                                    ascending=True)

### Columns with less than 100 unique categories

In [40]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(binning_summary[binning_summary['unique_counts'] < 100])

                      index                                      unique_values  unique_counts data_type  percent_missing
17  SHARE_WITH_CUST_DETAILS                                        [[NO, YES]]              2    object             0.00
13                INFLUENCE  [[No involvement, Make recommendation, Provide...              4    object             0.00
16                  AT_RISK  [[At Risk - Normal, At Risk - Red Flag, At Ris...              5    object             0.73
14                     CSAT  [[Satisfied, Very satisfied, Dissatisfied, Neu...              7    object             0.00
10           COMPETITOR_SAT  [[Satisfied, Extremely dissatisfied, Very diss...              7    object             0.00
15                NPS_SCORE  [[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0,...             11   float64             0.00
11           COMP_RECOMMEND  [[7.0, 4.0, 0.0, 5.0, 10.0, 9.0, 2.0, 6.0, 8.0...             11   float64             0.00
12               DEPARTMENT  [[Sales, Online Customer Services, e-Delivery,...             11    object             0.00
2                      WAVE  [[42.0, 43.0, 44.0, 45.0, 55.0, 46.0, 47.0, 48...             20   float64             0.00
9          JOB_ROLE_GROUPED  [[Other, Librarian, Student, Researcher/scient...             23    object             0.00
7       PRODUCT_NAME_ROLLUP  [[Mendeley, ScienceDirect, Scopus, Clinical Ke...             72    object             0.00

In [41]:
columns_to_bin = binning_summary[binning_summary['unique_counts'] < 100]['index'].to_list()

In [42]:
# select columns with less than 100 labels
df = df.apply(lambda x: x.mask(x.map(x.value_counts())<10, 'Other') if x.name in columns_to_bin else x)

### After Binning - Columns with less than 100 unique categories

In [43]:
binning_summary = get_data_frame_summmary(df, 
                                    sort_by='unique_counts', 
                                    ascending=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(binning_summary[binning_summary['unique_counts'] < 100])

                      index                                      unique_values  unique_counts data_type  percent_missing
17  SHARE_WITH_CUST_DETAILS                                        [[NO, YES]]              2    object             0.00
13                INFLUENCE  [[No involvement, Make recommendation, Provide...              4    object             0.00
16                  AT_RISK  [[At Risk - Normal, At Risk - Red Flag, At Ris...              5    object             0.73
14                     CSAT  [[Satisfied, Very satisfied, Dissatisfied, Neu...              7    object             0.00
10           COMPETITOR_SAT  [[Satisfied, Extremely dissatisfied, Very diss...              7    object             0.00
15                NPS_SCORE  [[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0,...             11   float64             0.00
11           COMP_RECOMMEND  [[7.0, 4.0, 0.0, 5.0, 10.0, 9.0, 2.0, 6.0, 8.0...             11   float64             0.00
12               DEPARTMENT  [[Sales, Online Customer Services, e-Delivery,...             11    object             0.00
2                      WAVE  [[42.0, 43.0, 44.0, 45.0, 55.0, 46.0, 47.0, 48...             20   float64             0.00
9          JOB_ROLE_GROUPED  [[Other, Librarian, Student, Researcher/scient...             22    object             0.00
7       PRODUCT_NAME_ROLLUP  [[Mendeley, ScienceDirect, Scopus, Clinical Ke...             48    object             0.00

## Log Transform

Logarithm transformation (or log transform) is one of the most commonly used mathematical transformations

It helps to handle skewed data and after transformation, the distribution becomes more approximate to normal.
In most of the cases the magnitude order of the data changes within the range of the data. log transform normalizes the magnitude differences.

It also decreases the effect of the outliers, due to the normalization of magnitude differences and the model become more robust.

Important note: The data you apply log transform must have only positive values, otherwise you receive an error. Also, you can add 1 to your data before transform it. Thus, you ensure the output of the transformation to be positive.

In [44]:
# No Log transform applied

## Scaling

In most cases, the numerical features of the dataset do not have a certain range and they differ from each other. Scaling solves this problem. The continuous features become identical in terms of the range, after a scaling process. This process is not mandatory for many algorithms, but it might be still nice to apply. 

### Normalization

Normalization (or min-max normalization) scale all values in a fixed range between 0 and 1. This transformation does not change the distribution of the feature and due to the decreased standard deviations, the effects of the outliers increases. Therefore, before normalization, it is recommended to handle the outliers

### Standardization
Standardization (or z-score normalization) scales the values while taking into account standard deviation. If the standard deviation of features is different, their range also would differ from each other. This reduces the effect of the outliers in the features.
In the following formula of standardization, the mean is shown as μ and the standard deviation is shown as σ.

In [45]:
df = scale_numeric_features(df, inplace=True)

********************* - Scaling following 4 features - **********************
 COMP_RECOMMEND standardized to COMP_RECOMMEND
 NPS_SCORE standardized to NPS_SCORE
 RESPONSEID standardized to RESPONSEID
 WAVE standardized to WAVE

## One-hot encoding

This method spreads the values in a column to multiple flag columns and assigns 0 or 1 to them. These binary values express the relationship between grouped and encoded column.

This method changes your categorical data, which is challenging to understand for algorithms, to a numerical format

If you have N distinct values in the column, it is enough to map them to N-1, as the missing value can be deduced from the other columns

In [46]:
print(columns_to_bin)

['SHARE_WITH_CUST_DETAILS', 'INFLUENCE', 'AT_RISK', 'CSAT', 'COMPETITOR_SAT', 'NPS_SCORE', 'COMP_RECOMMEND', 'DEPARTMENT', 'WAVE', 'JOB_ROLE_GROUPED', 'PRODUCT_NAME_ROLLUP']

In [47]:
# Specify Columns to encode
columns_to_exclude = []
columns_to_include = columns_to_bin
columns_to_encode = remove_items(columns_to_include, columns_to_exclude)
columns_to_encode

['SHARE_WITH_CUST_DETAILS',
 'INFLUENCE',
 'AT_RISK',
 'CSAT',
 'COMPETITOR_SAT',
 'NPS_SCORE',
 'COMP_RECOMMEND',
 'DEPARTMENT',
 'WAVE',
 'JOB_ROLE_GROUPED',
 'PRODUCT_NAME_ROLLUP']

In [48]:
for column in columns_to_encode:
    encoded_columns = pd.get_dummies(df[column])
    print(f'Encoding collumns : {column} to {len(encoded_columns.columns)} new encoded columns')
    df = df.join(encoded_columns, rsuffix='_'+column).drop(column, axis=1)

Encoding collumns : SHARE_WITH_CUST_DETAILS to 2 new encoded columns
Encoding collumns : INFLUENCE to 4 new encoded columns
Encoding collumns : AT_RISK to 4 new encoded columns
Encoding collumns : CSAT to 7 new encoded columns
Encoding collumns : COMPETITOR_SAT to 7 new encoded columns
Encoding collumns : NPS_SCORE to 11 new encoded columns
Encoding collumns : COMP_RECOMMEND to 11 new encoded columns
Encoding collumns : DEPARTMENT to 11 new encoded columns
Encoding collumns : WAVE to 20 new encoded columns
Encoding collumns : JOB_ROLE_GROUPED to 22 new encoded columns
Encoding collumns : PRODUCT_NAME_ROLLUP to 48 new encoded columns

In [49]:
df.shape

(50531, 154)

In [50]:
df.head()

        ECR_ID  RESPONSEID DATE_OF_INTERVIEW                           ORG_NAME        COUNTRY          ORGANIZATION              JOB_ROLE  NO  YES  Make final decisions  ...  Revues  SciVal  SciVerse  ScienceDirect  Scopus  SimChart  Simulation Learning System (SLS)  Student Consult (Online)  Supplements  eBooks
0      ECR-635       -2.47        2015-01-29                 Cornell University  United States            University                 Other   1    0                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
1        ECR-0       -2.41        2015-02-26  Universidad Nacional del Nordeste        Germany            University             Librarian   1    0                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
2        ECR-0       -2.41        2015-02-22  Universidad Nacional del Nordeste         France               College               Student   0    1                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
3  ECR-1080234       -2.40        2015-03-02                    Miltenyi Biotec  United States  Commercial/Corporate                 Other   0    1                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
4        ECR-0       -2.35        2015-03-14  Universidad Nacional del Nordeste         France            University  Researcher/scientist   0    1                     0  ...       0       0         0              0       0         0                                 0                         0            0       0

[5 rows x 154 columns]

## Transform Date columns

Recency and Frequency Variables and length / duration.

In [51]:
# convert date columns to date data type

date_columns = ['DATE_OF_INTERVIEW']

In [52]:
for column in date_columns:
    df[column] = pd.to_datetime(df[column])

In [53]:
# calcualte new variable subscription_length and agreement_length

In [54]:
 df.head()

        ECR_ID  RESPONSEID DATE_OF_INTERVIEW                           ORG_NAME        COUNTRY          ORGANIZATION              JOB_ROLE  NO  YES  Make final decisions  ...  Revues  SciVal  SciVerse  ScienceDirect  Scopus  SimChart  Simulation Learning System (SLS)  Student Consult (Online)  Supplements  eBooks
0      ECR-635       -2.47        2015-01-29                 Cornell University  United States            University                 Other   1    0                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
1        ECR-0       -2.41        2015-02-26  Universidad Nacional del Nordeste        Germany            University             Librarian   1    0                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
2        ECR-0       -2.41        2015-02-22  Universidad Nacional del Nordeste         France               College               Student   0    1                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
3  ECR-1080234       -2.40        2015-03-02                    Miltenyi Biotec  United States  Commercial/Corporate                 Other   0    1                     0  ...       0       0         0              0       0         0                                 0                         0            0       0
4        ECR-0       -2.35        2015-03-14  Universidad Nacional del Nordeste         France            University  Researcher/scientist   0    1                     0  ...       0       0         0              0       0         0                                 0                         0            0       0

[5 rows x 154 columns]

## Remove unused and/or redundant Features

Unused features are those that don’t make sense to pass into our machine learning algorithms. such as ID columns
Features that wouldn't be available at the time of prediction, Other text descriptions

Redundant features would typically be those that have been replaced by other features that you’ve added during feature engineering

In [55]:
columns_to_remove = ['DATE_OF_INTERVIEW', 'RESPONSEID', 'ORG_NAME']

In [56]:
df = df.drop(columns_to_remove, axis=1)

In [57]:
df.head()

        ECR_ID        COUNTRY          ORGANIZATION              JOB_ROLE  NO  YES  Make final decisions  Make recommendation  No involvement  Provide advice  ...  Revues  SciVal  SciVerse  ScienceDirect  Scopus  SimChart  Simulation Learning System (SLS)  Student Consult (Online)  Supplements  eBooks
0      ECR-635  United States            University                 Other   1    0                     0                    0               1               0  ...       0       0         0              0       0         0                                 0                         0            0       0
1        ECR-0        Germany            University             Librarian   1    0                     0                    1               0               0  ...       0       0         0              0       0         0                                 0                         0            0       0
2        ECR-0         France               College               Student   0    1                     0                    1               0               0  ...       0       0         0              0       0         0                                 0                         0            0       0
3  ECR-1080234  United States  Commercial/Corporate                 Other   0    1                     0                    1               0               0  ...       0       0         0              0       0         0                                 0                         0            0       0
4        ECR-0         France            University  Researcher/scientist   0    1                     0                    1               0               0  ...       0       0         0              0       0         0                                 0                         0            0       0

[5 rows x 151 columns]

Save clean data to hdf store

In [58]:
store = HDFStore(path_to_clean_hdf_datastore)
df.loc[:, ['ECR_ID', 'COUNTRY', 'ORGANIZATION', 'JOB_ROLE']] = df.loc[:, ['ECR_ID', 'COUNTRY', 'ORGANIZATION', 'JOB_ROLE']].astype(str)
store.put(key=cfg['nps_file']+"_clean", value=df)
store.close()